{% extends "dashboards/admin-dashboard.html" %}
{% block content %}
<section class="md:w-4/5 lg:w-11/12 m-auto text-center">
        <table class="table-auto border border-collapse border-black w-full rounded-md">
            <thead class="border border-black bg-blue-400 text-white">
                <th>Name</th>
                <th>Category</th>
                <th>location</th>
                <th>Date</th>
                <th>Time</th>   
                <th>Action</th>
            </thead>

            <tbody>
                {% for event in today_events %}
                    <tr class="border border-black">
                        <td>{{event.name}}</td>
                        <td>{{event.category}}</td>
                        <td>{{event.location}}</td>
                        <td>{{event.date}}</td>
                        <td>{{event.time}}</td>
                        <td class="flex gap-5 border border-l-black justify-center">
                            <a href="{% url 'update-task' event.id %}"><button class="bg-sky-500 text-white font-bold p-2 rounded-md" type="submit">Update</button></a>
                                <form action="{% url 'delete-task' event.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="bg-red-500 text-white font-bold p-2 rounded-md" type="submit">Delete</button>
                                </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endblock content %}