{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Create Event</title>
</head>
<body>
    {% include "navbar.html" %}
    <section>
        <h1 class="text-4xl text-center font-bold">Create Event</h1>
        {% if messages %}
            {% for msg in messages %}
                <p class="bg-green-700 text-white font-bold space-y-5">{{msg}}</p>
            {% endfor %}
        {% endif %}
        <form method="POST" class="border border-black w-2/3 mx-auto my-5 flex flex-col gap-5 p-5 rounded-md">
            {% csrf_token %}
            {{event_form}}
            <button type="submit" class="border border-black bg-black text-white rounded-md p-2">Submit</button>
        </form>
    </section>
</body>
</html>