{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Organizer Dashboard</title>
</head>
<body>
    {% comment %} nav bar section {% endcomment %}
    {% include "navbar.html" %}
    {% comment %} stats section {% endcomment %}

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 m-5">
        {% comment %} card {% endcomment %}
        <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
            <h2 class="text-3xl font-bold ">Total Participant</h2>
            <p class="text-center text-3xl font-bold">{{participant_count}}</p>
        </div>
       
        {% comment %} card {% endcomment %}
        <a href="{% url 'organizer-dashboard' %}?q=total_event">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Total Events</h2>
                <p class="text-center text-3xl font-bold">{{total_events}}</p>
            </div>
        </a>
       
        {% comment %} card {% endcomment %}
        <a href="{% url 'organizer-dashboard' %}?q=upcoming_event">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Upcoming Event</h2>
                <p class="text-center text-3xl font-bold">{{upcoming_events}}</p>
            </div>
        </a>
       
        {% comment %} card {% endcomment %}
        <a href="{% url 'organizer-dashboard' %}?q=past_event">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Past Events</h2>
                <p class="text-center text-3xl font-bold">{{past_events}}</p>
            </div>
        </a>
    </section>

    {% comment %} table {% endcomment %}
    <section class="md:w-4/5 lg:w-11/12 m-auto text-center">
        <table class="table-auto border border-collapse border-black w-full rounded-md">
            <thead class="border border-black bg-blue-400 text-white">
                <th>Name</th>
                <th>Category</th>
                <th>location</th>
                <th>Date</th>
                <th>Time</th>   
                <th>Action</th>
            </thead>

            <tbody>
                {% for event in today_events %}
                    <tr class="border border-black">
                        <td>{{event.name}}</td>
                        <td>{{event.category}}</td>
                        <td>{{event.location}}</td>
                        <td>{{event.date}}</td>
                        <td>{{event.time}}</td>
                        <td class="flex gap-5 border border-l-black justify-center">
                            <a href="{% url 'update-task' event.id %}"><button class="bg-yellow-500 text-white font-bold p-2 rounded-md" type="submit">Update</button></a>
                                <form action="{% url 'delete-task' event.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="bg-red-500 text-white font-bold p-2 rounded-md" type="submit">Delete</button>
                                </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>