{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Organizer Dashboard</title>
</head>
<body>
    {% comment %} nav bar section {% endcomment %}
    {% include "navbar.html" %}
    {% comment %} stats section {% endcomment %}

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 m-5">
        {% comment %} card {% endcomment %}
        <a href="">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Total Participant</h2>
                <p class="text-center text-3xl font-bold">{{participant_count}}</p>
            </div>
        </a>
       
        {% comment %} card {% endcomment %}
        <a href="">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Total Events</h2>
                <p class="text-center text-3xl font-bold">{{total_events}}</p>
            </div>
        </a>
       
        {% comment %} card {% endcomment %}
        <a href="">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Upcoming Event</h2>
                <p class="text-center text-3xl font-bold">{{upcoming_events}}</p>
            </div>
        </a>
       
        {% comment %} card {% endcomment %}
        <a href="">
            <div class="bg-yellow-200 p-5 shadow-xl border border-black rounded-lg text-center">
                <h2 class="text-3xl font-bold ">Past Events</h2>
                <p class="text-center text-3xl font-bold">{{past_events}}</p>
            </div>
        </a>
    </section>

    {% comment %} table {% endcomment %}
    <section class="md:w-4/5 lg:w-11/12 m-auto text-center">
        <table class="table-auto border border-collapse border-black w-full text-xl rounded-md">
            <thead class="border border-black bg-blue-400 text-white">
                <th>Name</th>
                <th>Category</th>
                <th>location</th>
                <th>Date</th>
                <th>Time</th>   
                <th>Action</th>
            </thead>

            <tbody>
                {% for event in today_events %}
                    <tr class="">
                        <td>{{event.name}}</td>
                        <td>{{event.category}}</td>
                        <td>{{event.location}}</td>
                        <td>{{event.date}}</td>
                        <td>{{event.time}}</td>
                        <td>
                            <button class="bg-yellow-500 text-white p-2 rounded-lg font-semibold">Update</button>
                            <button class="bg-red-600 text-white p-2 rounded-lg font-semibold">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>