<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details page.</title>
</head>
<body>
    <section>
        <h1>Event Details</h1>
        <img src="" alt="Event image" class="w-1/4 mx-auto">
        <div class="w-1/2 mx-auto">
            <p class="text-5xl font-bold text-center">Name: {{event.name}}</p>
            <p>Description: {{event.description}}</p>
            <p>Date: {{event.date}}</p>
            <p>Category: {{event.category}}</p>
            <p>Total Participant: {{event.participant.count}}</p>
        </div>
        <h1>Participant list</h1>
        <table class="w-1/2 mx-auto border">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in event.participant.all %}
                <tr>
                    <td>{{participant.name}}</td>
                    <td>{{participant.email}}</td>
                    <td>{{participant.phone}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </section>
</body>
</html>