{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Event Details</title>
</head>
<body class="bg-sky-100">
    {% include "navbar.html" %}
    <section class="bg-gradient-to-r from-blue-500 to-purple-500 text-white py-10">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-3">{{ event.name }}</h1>
            <p class="text-lg">{{ event.description }}</p>
        </div>
    </section>
    <section class="py-10">
        <div class="w-3/4 mx-auto bg-white shadow-lg rounded-lg p-6">
            <img src="{{ event.asset.url }}" alt="Event image" class="w-full h-64 object-cover rounded-lg mb-6">
            <div class="text-center">
                <p class="text-xl font-bold mb-4">Event Date: {{ event.date }}</p>
                <p class="text-xl font-bold mb-4">Event Time: {{ event.time }}</p>
                <p class="text-xl font-bold mb-4">Category: {{ event.category }}</p>
                <p class="text-xl font-bold mb-4">Total Participants: {{ event.participant.count }}</p>
            </div>
        </div>
    </section>
    <section class="py-10">
        <h2 class="text-3xl font-bold text-center mb-6">Participant List</h2>
        <table class="w-3/4 mx-auto text-center border-collapse border border-gray-400 shadow-lg rounded-lg bg-white">
            <thead class="bg-gray-200">
                <tr>
                    <th class="border border-gray-400 px-4 py-2">Name</th>
                    <th class="border border-gray-400 px-4 py-2">Email</th>
                    <th class="border border-gray-400 px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in total_participants %}
                <tr class="hover:bg-gray-100 transition duration-200">
                    <td class="border border-gray-400 px-4 py-2">{{ participant.first_name }} {{ participant.last_name }}</td>
                    <td class="border border-gray-400 px-4 py-2">{{ participant.email }}</td>
                    {% if user.is_Admin %}
                        <td class="border border-gray-400 px-4 py-2">
                            <a href="{% url 'remove-participant' event.id participant.id %}"><button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 transition duration-300">Delete</button></a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>