{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Home Page</title>
</head>
<body class="bg-sky-200">
    {% include "navbar.html" %}
    <div class="h-screen flex justify-center items-center">
        <h1 class="text-7xl font-bold text-rose-700 text-center">Welcome to <br>Event Management System</h1>
        
    </div>
</body>
</html>