{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Home Page</title>
</head>
<body>
    {% include "navbar.html" %}
    {% comment %} hero section {% endcomment %}
    <section class="bg-gradient-to-tr from-yellow-400 to-orange-500 flex flex-col justify-center items-center h-screen">
        <h1 class="text-white text-5xl text-center font-bold">We are Event Professionals</h1>
        <br>
        <form method="POST" class="w-2/3 mx-auto flex gap-2">
            <input type="text" class="mx-auto p-2 rounded-md w-5/6" placeholder="Search here">
            <button class="bg-black text-white p-2 rounded-md font-bold w-1/6">Search</button>
        </form>
    </section>

    {% comment %} all event {% endcomment %}
    <section>
         
    </section>
</body>
</html>