{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Home</title>
</head>
<body>
    {% include "navbar.html" %}
    {% comment %} hero section {% endcomment %}
    <section class="flex flex-col justify-center items-center h-screen bg-sky-600 gap-5">
        <h1 class="text-white text-5xl text-center">We are Event Professionals</h1>
        <form class="w-2/3 flex gap-4">
            <input type="text" class="p-2 rounded-md w-full" placeholder="Search here" name="q">
            <button type="submit" class="bg-black text-white p-2 rounded-md font-bold ">Search</button>
        </form>
    </section>

    {% comment %} event section {% endcomment %}
    {% if messages %}
            {% for message in messages %}
                <p class="p-2 bg-green-600 text-white">{{message}}</p>
            {% endfor %}
    {% endif %}
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {% if search_event %}
            {% for event in search_event %}
            {% comment %} card {% endcomment %}
            <div>
            <a href="{% url 'event-detail' event.id %}">
                        <div class="rounded-md p-4 w-3/4 mx-auto border flex gap-5 my-4">
                        {% comment %} card content {% endcomment %}
                        <div class="w-full">
                            <p class="text-xl font-bold">{{event.name}}</p>
                            <p>{{event.description}}</p>
                            <p>Date & Time: {{event.date}} at {{event.time}}</p>
                            <p>Category: {{event.category}}</p>
                            <p>Total Participant: {{event.participant.count}}</p>
                            {% if user.is_authenticated %}
                            <div class="flex justify-center">
                                <a href="{% url 'rsvp_event' event.id %}"><button class="text-white bg-green-600 p-2 rounded-md">RSVP</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% comment %} card end {% endcomment %}
            {% endfor %}
        {% endif %}
    </section>
</body>
</html>