{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="bg-sky-500 text-white">
    <ul class="flex flex-wrap justify-center gap-5 list-none p-3 text-xl">
        <li><a href="{% url 'home-page' %}">Home</a></li>
        <li><a href="{% url 'organizer-dashboard' %}">Organizer Dashboard</a></li>
        <li><a href="{% url 'create-event' %}">Create Event</a></li>
        <li><a href="{% url 'add-participant' %}">Add Participant</a></li>
        <li><a href="{% url 'add-category' %}">Add Category</a></li>        
    </ul>
</nav>    
</body>
</html>